* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 15px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: left;
}

.exemplo h1 {
    background-color: aqua;
    padding: 15px;
    margin-bottom: 15px;
}

.main img {
    width: 100%;
    border-radius: 10px;
    margin-top: 80px;
   
}

.main figcaption {
    color: blueviolet;
    width: auto;
    background-color: #007BFF;
    box-shadow: 0 4px 8px black;
}

input {
    background-color: whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.button {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: auto;
    border-color: rgb(145, 237, 145);
    background-color: green;
    color: white;
   
    
   
}

.container {
    background-color: #fffdfd;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card1, .card2, .card3 {
    background: #ffffff;
    padding: auto;
    margin: auto;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

.card1 button {
    border-radius: 10px;
}

.card2 h3, .card3 h3, .card1 h3 {
    color: rgb(133, 234, 243);
}

.card1 p, .card2 p, .card3 p {
    color: rgb(0, 0, 0);
}



.container2 {
    background-color: #f7f3f3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 30px;
   

}

.container2 img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.col-sm-6 {
    flex: 1 1 50%;
    font-size: auto;
    
    
}

.menu {
    display: flex;
    gap: 20px;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.2);
    justify-content: left;
    width: auto;
    height: 40px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 0.3s;
    background-color: mediumseagreen;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.menu a:hover {
    color: #007BFF;
    background-color: #555;
}

.logo img {
    width: auto;
    height: 60px;
    align-items: right;
}

.texth1 {
    text-align: center;
    align-items: center;
    display: flex;
    
    margin-bottom: 20px;


}

nav {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .container2 {
        flex-direction: row;
        align-items: flex-start;
        border-radius: 10px;
       
        align-items: center;
        font-size: 90%;
       background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.719),
       rgba(144, 235, 84, 0.904));    

    }
    .col-sm-6 {
        flex: 1 1 48%;
         max-width: 48%;
      
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .card1, .card2, .card3 {
        width: calc(33.33% - 20px);
        margin: 10px 0;
        border-top: 5px solid rgb(108, 219, 229);
    }
}

.texto {
    background-color: #007BFF;
    color: gold;
    text-align: center;
    margin: 30px;
    padding: 60px;
}

.container1 {
    background-image: url('');
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: left; 
    justify-content: right; 
}

.container1 p {
    text-align: center;
    color: #ddd;
    font-size: 14px; 
    line-height: 1.5; 
    margin: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #45a049; 
}

.botao button:hover {
    background-color: black; 
}

.imagens {
    width: auto;
    height: auto;
    display: inline-block;
}

.texto2 {
    border-radius: 8px;
    background-color: #007BFF;
    width: 230px;
    height: auto;
    color: #45a049;
    text-align: center;
    line-height: 40px; 
    display: block;
    margin: 10px auto; 
    align-items: center;
}

.container_tabela {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    padding: 20px;
}

.tabela1, .tabela2 {
    flex: 1;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

th, td {
    border-bottom: solid 1px #909090;
    padding: 10px;
    text-align: left;
}

td:last-child, th:last-child {
    background-color: #ddd;
}

.jumbotron {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRojLcdU1aNm98qKgDQV4NJjjldPsF67r6xhw&s');
    text-align: left;
    align-items: left;
    padding-inline-end: auto;
    margin-top: 20px
    background-repeat: no-repeat;
    
}
